.LoginSignupContainer{
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(231, 231, 231);
    position: fixed;
    top: 0;
    left: 0;
} 
.LoginSignupBox{
    background-color: white;
    width: 25vw;
    height: 90vh;
    box-sizing: border-box;
    overflow: hidden;
}
.Login-Signup-toggle{
    display: flex;
    height: 3vmax;
}

.Login-Signup-toggle > p{
    color: rgba(0, 0, 0, 0.678);
    font: 300 1vmax "Roboto";
    transition: all 0.5s;
     display: grid;
     place-items: center;
     width: 100%;
     cursor: pointer;
}
.Login-Signup-toggle > p:hover{
    color: tomato;
}

/* .LoginSignupBox > div > button{
    background-color: tomato !important;
    height: 0px !important;
    width: 50%;
    border: none;
    transition: all 0.5s;
} */






.buttonA{
    height: 5px;
    background-color: red;
    width: 50%;
    border-radius: 5px;
    transition: all 0.5s;
}
.loginForm, .signupForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 2vmax;
    height: 70%;
    justify-content: space-evenly;
    transition: all 0.5s;
}
.signupForm{
    transform: translateY(-100%) translateX(-100vmax); 
}



.loginForm >div, .signupForm>div{
    display: flex;
    width: 100%;
    align-items: center;
}


.loginForm >div>input, .signupForm>div>input{
    padding: 1vmax 4vmax;
    padding-right: 1vmax;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.267);
    border-radius: 4px;
    outline: none;
    font: 300 0.9vmax cursive;
}


.loginForm >div>svg, .signupForm>div> svg{
    position: absolute;
    transform: translate(1vmax);
    font-size: 1.6vmax;
    color: rgba(0, 0, 0, 0.623);
}
.loginForm > a{
    color: rgba(0, 0, 0, 0.651);
    text-decoration: none; 
    align-self: flex-end;
    transition: all 0.5s;
    font: 500 0.9vmax "Gill Sans";
}
.loginForm > a:hover{
    color: black;
}

#registerImage> img{
    width: 3vmax;
    border-radius: 100%;
}


#registerImage>input{
    display: flex;
    padding: 0;    
}

#registerImage>input::file-selector-button{
    cursor: pointer;
    width: 100%;
    height: 5vh;
    border: none;
    margin: 0%;
    font: 400 0.8vmax cursive;
    transition: all 0.5s;
    padding: 0 1vmax;
    color: rgba(0, 0, 0, 0.623);
    background-color: rgb(255, 255, 255);
}


#registerImage>input::file-selector-button:hover{
    background-color: rgb(235, 235, 235);
}


.loginBtn, .signupBtn{
    border: none;
    background-color: tomato;
    color: white;
    width: 100%;
    font: 300 1.1vmax "Roboto" !important;
    padding: 0.8vmax;
    cursor: pointer;
    transition: all 0.5s;
    outline: none;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
}


.loginBtn:hover, .signupBtn:hover{
    background-color: rgb(179, 66, 46);
}

.shiftToLeft {
    transform: translateX(-100%);
  }
  .shiftToNeutral {
    transform: translateX(0%);
  }
  
  .shiftToNeutralForm {
    transform: translateX(0%) translateY(-100%);
  }
  
  .shiftToRight {
    transform: translateX(100%);
  }

  #accountType{
    margin-left: 10px !important;
    width: 158px;
    padding: 5px 5px;
  }
  .noData{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }


@media screen and (max-width:600px) {
    
    .LoginSignupContainer{
        background-color: white;   
    }
    
.LoginSignupBox{
    background-color: white;
    width: 100vw;
    height: 95vh;
}

.Login-Signup-toggle{
    height: 5vmax;
}

.Login-Signup-toggle > p{
    font: 300 1.5vmax "Roboto";
}

.loginForm, .signupForm{
    padding: 5vmax;
}

.loginForm >div>input, .signupForm>div>input{
    padding: 2.5vmax 5vmax;
    font: 300 1.7vmax cursive;
}
.loginForm >div>svg, .signupForm>div>svg{
    font: 500 1.8vmax "Gill Sans";
}

.loginForm > a{
    font: 500 1.8vmax "Gill Sans";
}

#registerImage> img{
    width: 8vmax;
    border-radius: 100%;
}

#registerImage>input::file-selector-button{
    height: 7vh;
    font: 400 1.8vmax cursive;
}
.loginBtn, .signupBtn{
    font: 300 1.9vmax cursive;
    padding: 1.8vmax;
}

}