*{
  margin: 0;
  padding: 0;
}


@import url("https://cdn.syncfusion.com/ej2/material.css");

.timePicker{
  width: 150px;
  margin-left: 10px;
}
.dateTimeBox{
  display: flex;
  align-items: center;

}